<header _ngcontent-fkd-c16="" class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a _ngcontent-fkd-c16="" href="#" class="navbar-brand col-md-3 col-lg-2 me-0 px-3">Company name</a>
    <button _ngcontent-fkd-c16="" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler position-absolute d-md-none collapsed">
        <span _ngcontent-fkd-c16="" class="navbar-toggler-icon">

        </span></button>
        <input _ngcontent-fkd-c16="" type="text" placeholder="Search" aria-label="Search" class="form-control form-control-dark w-100">
        <div _ngcontent-fkd-c16="" class="navbar-nav"><div _ngcontent-fkd-c16="" class="nav-item text-nowrap">
            <a _ngcontent-fkd-c16="" href="#" class="nav-link px-3">Sign out</a></div></div>
        </header>